// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$highlight-text:#00867A; //highlight text; small headers; icons
$icons: #5CBC30;
$icons2: #9ADD00;
$call-to-action: #000000;
$headers: #1D1D1D;
$text: #878787;
$card-bg: #F9FDFE ;
$webapp-bg:#EFF7F9;
$section-bg: #ECF7EB;
