<div class="navbar">
  <img src="../images/play-logo.png" alt="">
  <div class="navbar-links">
    <h2>Platform</h2>
    <h2>About Us</h2>
    <h2>Testimonials</h2>
    <h2>Contacts</h2>
  </div>
  <div>
    <button>Join match</button>
  </div>
</div>
