<div class="navbar">
  <%= image_tag "play-logo.png", class:"logo"%>
  <div class="navbar-links">
    <h2>Platform</h2>
    <h2>About Us</h2>
    <h2>Testimonials</h2>
    <h2>Contacts</h2>
  </div>
  <div>
    <button class="join-btn">Join match</button>
  </div>
</div>

<div class="banner">
  
</div>
