.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar{
  font-weight: 600px;
  height: 90px;
  background-color: $card-bg;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.join-btn{
  font-size: 18px;
  margin-right:70px;
  background-color: black;
  padding: 15px 42px;
  border-radius: 57px;
  color: white;
  border: none;
}
.logo{
  margin-left: 70px;
}
.navbar-links h2{
  padding-left: 22px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: black;
  display: inline;
}
