
.common-input,
.common-button {
  width: 100%;
  height: 53px;
  padding: 10px 10px;
  border-radius: 57px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 16px;
  box-sizing: border-box;
  appearance: none;
}

.common-input:focus,
.common-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(135, 135, 135, 0.3);
}

.common-button {
  background-color: #000;
  color: #fff;
  border: none;
  margin-top: 20px;
}

.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  background-color: #EFF7F9;
  min-height: 100vh;
}

.signup-form {
  width: 33.33%;
  min-width: 300px;
  background-color: #F9FDFE;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.signup-container h2 {
  margin-bottom: 20px;
  color: #00867A;
  text-align: center;
}

.bt-sign-up {
  background-color: #000000;
  border-radius: 57px;
  color: white;
  width: 177px;
  height: 53px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}

.bt-sign-up:hover {
  color: #000000;
  background-color: #EFF7F9;
  border: 2px solid #878787;
}


.bt-forgot-pass {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F9FDFE;
  border-radius: 57px;
  color: #000000;
  width: 177px;
  height: 26px;
  text-decoration: none;
  font-size: 12px;
  padding: 12px;
  margin-bottom: -5px;
  cursor: pointer;
}

.bt-forgot-pass:hover {
  color: #00867A;
}

.form-actions2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding-top: 20px;
}

.form-inputs .remember-checkbox {
  accent-color: #1D1D1D;
  border: 2px solid #878787;
  background-color: white;
}

.form-inputs .remember-checkbox:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(29, 29, 29, 0.3);
}

.form-inputs .remember-checkbox:checked {
  background-color: #1D1D1D;
  border-color: #1D1D1D;
}

.form-inputs .remember-checkbox:checked:focus {
  box-shadow: 0 0 0 3px rgba(29, 29, 29, 0.3);
}

.form-inputs .remember-label {

  color: #1D1D1D;
}
.common-button {
  width: 35%;
  height: 53px;
  border-radius: 57px;
  background-color: #000;
  color: #fff;
  border: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-size: 16px;
}

.common-button:hover {
  color: #000;
  background-color: #EFF7F9;
  border: 2px solid #878787;
}
