.section-3{
  padding: 15px;
  background-color: $webapp-bg;
}

.whats-happening {
  font-family: $headers-font;
  color: $headers;
  font-size: 48px;
}

.whats-happening-para {
  width: 940px;
}

.landing-pic-size {
  width: 390px;
  height: 281px;
}
.section-3-card-size {
  width: 390px;
}

.text-style {
  color: $text;
}
