// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


$highlight-text:#00867A;
$icons: #5CBC30;
$icons2: #9ADD00;
$call-to-action: #000000;
$headers: #1D1D1D;
$text: #878787;
$card-bg: #F9FDFE ;
$webapp-bg:#EFF7F9;
$section-bg: #ECF7EB;
