matches-div {
  background-color: $webapp-bg;
  position: relative;
}
.matches-section {
  background-color: $section-bg;
}
.matches-top-div {
  color: $headers;
  font-family: $headers-font;
  background-color: $section-bg;
  width: 75%;
  border-radius: 20px;
  margin: 3rem;
}
.submit-button {
  height: 3rem;
  width: 157px;
  background-color: black;
  color: white;
  border-radius: 57px;
  letter-spacing: 2px;
  font-weight: bold;
  border: none;
}
.join-button {
  background-color: $highlight-text;
  padding: 0px 20px;
  height: 3rem;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: bolder;
  box-shadow: 1px 1px 5px gray;
  border-radius: 20px;
}
.join-button:hover {
  opacity: 90%;
  box-shadow: 0;
}
.highlight-text {
  color: $highlight-text;
}
.shadow-gray {
  box-shadow: 1px 1px 5px gray;
}
.hover-effect {
  transition: all 0.2s linear;
  cursor: pointer;
}
.hover-effect:hover {
  transform: scale(1.02);
  box-shadow: 0;
}
.matches-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;
  height: 20rem;
  z-index: 10;
  background-color: black;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown select {
  height: 3rem;
  border-radius: 57px;
  padding: 0 1rem;
  border: 1px solid #ccc;
  background-color: white;
  font-size: 1rem;
}
.p-5 {
  padding: 3rem !important;
}
.d-flex {
  display: flex !important;
}
.flex-wrap {
  flex-wrap: wrap !important;
}
.justify-content-center {
  justify-content: center !important;
}
.match-card {
  min-height: 10rem;
  width: calc(100% / 3 - 2rem); // Fit three cards per row by default
  max-width: 30%;
  margin: 1rem;
  border-radius: 0.5rem;
  transition: transform 0.2s, box-shadow 0.2s;
  @media (max-width: 768px) { // Tablets
    width: calc(100% / 2 - 2rem); // Two cards per row
    max-width: 45%;
  }
  @media (max-width: 576px) { // Mobile devices
    width: calc(100% - 2rem); // Full-width cards
    max-width: 100%;
  }
}
.card-header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
}
.date-grid {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

}

.sport-name {
  grid-column: 1 / 5;
}
.date{
  padding-top: 3px;
  padding-left: 15px;
  position: absolute;
  font-size:18;
  grid-column:1 / 2;
}

@media only screen and (max-width: 1440px) {
  .date-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .sport-name {
    grid-row: 2 / 3;
  }

  .date {
    position: relative;
    grid-row: 1 / 2;
    text-align: center;
  }
}
