.mymatches-grid {
  display:grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;

}

.mymatches-child-1 {
  grid-column: 1 / 4;
  grid-row: 1;
  height: 15rem;

}
// .mymatches-child-2 {
//   grid-column: 3 / 4;
//   grid-row: 1;
//   height: 15rem;
// }

.mymatches-innerchild {
  width: 90%;
  height: 5rem;
  border: 1px solid lightgray;
  border-radius: 30px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
  .avatar {
    padding: 3px;
    border: 1px solid black;
    height:50px;
    width: 50px;
    border-radius: 50%;
  }

}
.my-avatar {
  padding: 3px;
  border: 1px solid black;
  height:50px;
  width: 50px;
  border-radius: 50%;
}


.reject-button {
  padding:15px;
  font-weight: bolder;
  color: white;
  background-color: black;
  text-decoration: none;
  border:1px solid $text;
  border-radius: 20px;
}

.accept-button {
  padding:15px;
  font-weight: bolder;
  color: white;
  background-color: black;
  text-decoration: none;
  border:1px solid $text;
  border-radius: 20px;
}
.accept-button:hover,
.reject-button:hover{
  opacity: 60%;
}
