.mymatches-grid {
  display:grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;

}

.mymatches-child-1 {
  grid-column: 1 / 4;
  grid-row: 1;
  height: 15rem;

}
// .mymatches-child-2 {
//   grid-column: 3 / 4;
//   grid-row: 1;
//   height: 15rem;
// }

.mymatches-innerchild {
  width: 90%;
  height: 5rem;
  border: 1px solid lightgray;
  border-radius: 30px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
  .avatar {
    padding: 3px;
    border: 1px solid black;
    height:50px;
    width: 50px;
    border-radius: 50%;
  }

}
.my-avatar {
  padding: 3px;
  border: 1px solid black;
  height:50px;
  width: 50px;
  border-radius: 50%;
}


.reject-button {
  padding:15px;
  font-weight: bolder;
  color: white;
  background-color: gray;
  text-decoration: none;
  border:1px solid $text;
  border-radius: 20px;
  box-shadow: 1px 1px 2px gray;
}

.accept-button {
  padding:15px;
  font-weight: bolder;
  color: white;
  background-color: $highlight-text;
  text-decoration: none;
  border:1px solid $text;
  box-shadow: 1px 1px 2px gray;
  border-radius: 20px;
}
.accept-button:hover,
.reject-button:hover{
  opacity: 60%;
}
.slight-boxshadow{
  box-shadow: 1px 1px 5px lightgray;
}







// Confirmation button




#confirmDialog {
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

#confirmationDialog {
  background: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

#confirmationDialog button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#okBtn {
  background-color: $icons;
  color: white;
}

#okBtn:hover {
  opacity: 0.5;
}

#cancelBtn:hover {
  opacity: 0.5;
}
